/* Импорт базовых стилей */
@import 'reset.css';
@import 'typography.css';
@import 'variables.css';

/* * {
    outline: 2px solid green;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-inline: 10px;
    gap: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    font-size: var(--normal-text);
    font-family: 'Nunito Sans';
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    gap: 40px;
}

h1 {
    font-weight: 900;
    font-size: 18px;
}

h2 {
    font-weight: 800;
    font-size: clamp(16px, 2vw, 40px);
}

.section-title {
    text-align: center;
}

button {
    display: flex;
    border: none;
    outline: none;
    background: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-block: 15px;
    border-radius: var(--border-radius);
    background: var(--black);
    box-shadow: var(--shadow);
    color: var(--light-grey);
    font-weight: 700;
    font-size: clamp(12px, 1.5vw, 24px);
    transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover {
    transform: scale(1.02);
}

.red-button {
    outline: 2px solid var(--red);
    outline-offset: -2px;
    background: var(--white);
    color: var(--red);
}

@media (min-width: 359px) {}

@media (min-width: 479px) {
    .container {
        padding-inline: 5%;
    }
}

@media (min-width: 659px) {
    .container {
        padding-inline: 10%;
    }
}

@media (min-width: 767px) {}

@media (min-width: 1023px) {}

@media (min-width: 1279px) {
    main {
        gap: 100px;
    }

    .container {
        max-width: var(--max-container-width);
        margin-inline: auto;
        padding-inline: var(--container-padding-x) !important;
    }
}