:root {
    --accent: #FFC75E;
    --black: #212121;
    --grey: #A8A6A6;
    --light-grey: #E2DDDD;
    --white: #FAFAFA;
    --red: #FF6363;
    --green: #61BC31;

    --shadow: 0px 2px 7px 0px rgba(31, 31, 31, 0.2);
    --border-radius: 10px;

    --normal-text: 10px;
    --bigger-text: 18px;

    --container-width: 320px;
    --container-padding-x: 10px;
    --max-container-width: calc(var(--container-width) + (var(--container-padding-x) * 2));
}

@media (min-width: 359px) {}

@media (min-width: 479px) {}

@media (min-width: 659px) {}

@media (min-width: 767px) {
    :root {
        --border-radius: 20px;
    }
}

@media (min-width: 1023px) {}

@media (min-width: 1279px) {
    :root {
        --container-width: 1080px;
        --container-padding-x: 100px;
        --shadow: 0px 8px 30px 0px rgba(87, 46, 24, 0.1);
    }
}