header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.header__menu {
    display: flex;
    align-items: end;
    align-self: stretch;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 20px;
}

.header__menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 15px;
    font-size: 24px;
}

.catalogue-link {
    display: none;
}

.header__menu-link-title {
    display: none;
    color: var(--black);
    font-weight: 700;
}

.search__button-form {
    display: none;
    border-left: 3px solid var(--black);
}

.search__button {
    padding-inline: 20px;
    border: none;
    outline: none;
    background: none;
}

@media (min-width: 1023px) {
    .desktop-logo {
        display: block !important;
    }

    .logo-icon {
        display: none;
    }

    .header__menu {
        border: 3px solid var(--black);
    }

    .header__menu-link {
        flex: 1 0 0;
    }

    .header__menu-link:where(:not(:first-child)) {
        border-left: 3px solid var(--black);
    }

    .header__menu-link-title {
        display: block;
    }

    .catalogue-link {
        display: flex;
    }

    .search__button-form {
        display: flex;
    }

    .burger-menu {
        display: none;
    }
}