/* Импорт компонентов */
@import '../../css/base/base.css';

@import '../../css/components/header.css';
@import '../../css/components/footer.css';

.message__block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    gap: 10px;
    border: 2px solid var(--red);
    border-radius: var(--border-radius);
    background: var(--white);
    box-shadow: var(--shadow);
    color: var(--red);
}

.message__block-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: inherit;
}

.message__block-title h2 {
    font-weight: 700;
    font-size: clamp(16px, 2vw, 32px);
    text-align: center;
}

.message__block-title svg {
    width: clamp(18px, 2vw, 30px) !important;
    height: clamp(18px, 2vw, 30px) !important;
}

.message__block-description {
    color: var(--black);
    font-weight: 600;
    font-size: clamp(12px, 1.5vw, 24px);
    text-align: center;
    text-wrap: balance;
}

.green {
    border: 2px solid var(--green);
    color: var(--green);
}

@media (min-width: 1023px) {
    .message__block {
        padding: 60px 40px;
        gap: 15px;
        border-width: 4px;
    }
}